<div>
  <ion-tabs #authTabs>
    <ion-tab tab="login">
      <login-component
        (tabChangeEvent)="onTabChange($event)"
        (emailSetEvent)="onEmailSet($event)"
      />
    </ion-tab>
    <ion-tab tab="signup">
      <signup-component
        (tabChangeEvent)="onTabChange($event)"
        [email]="email"
      />
    </ion-tab>
    <ion-tab tab="email">
      <email-login-component
        (tabChangeEvent)="onTabChange($event)"
        [email]="email"
      />
    </ion-tab>
  </ion-tabs>
</div>
