@use "@scss/styles";
@use "@scss/bpts";
@use "@angular/material" as mat;

#container {
  display: none;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  // height: 6rem;
  width: 90%;
  // overflow-x: scroll;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  @include styles.mobile-edge;

  #link-list {
    width: 95%;
    @include styles.flex-layout;
    gap: 0;

    .link {
      text-align: center;
      padding: 5% 2rem;
      margin-top: 0.5rem;
      border-radius: 4rem;
      cursor: pointer;
      @include styles.flex-layout;
      gap: 0.4rem;
      flex-direction: column;
      color: white;
      text-decoration: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      #profile-pic {
        border-radius: 4rem;
        height: 1.5rem;
      }

      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: rgb(25, 2, 87),
        )
      );
    }
    .active-link {
      border-top: 2px solid rgb(66, 11, 162);
    }
  }

  @include bpts.md {
    display: flex;
  }
}
