<div class="chat-container">
  @if (tour$ | async; as tour) { @if (tour) {
  <h2>{{ tour.destination }}</h2>
  <mat-list>
    @for (message of tour.chat; track message.when) {
    <mat-list-item>
      <span
        [class]="{
          'my-msg': message.senderId == fAuth.userData()?.id,
          'others-msg': message.senderId != fAuth.userData()?.id
        }"
      >
        @if(message.senderId != fAuth.userData()!.id) {
        <sub>{{ message.senderName }}:</sub> }
        <p [matTooltip]="message.when.toDate() | date">{{ message.text }}</p>
      </span>
    </mat-list-item>
    } @empty {
    <div>No message</div>
    }
  </mat-list>
  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
    <mat-form-field>
      <input matInput formControlName="text" placeholder="Üzenet írása..." />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="chatForm.invalid"
    >
      Send
    </button>
  </form>
  } @else {
  <div>Tour not found</div>
  } } @else {
  <div>Tour not found</div>
  }
</div>
