<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="py-4 d-flex justify-items-center">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
    </div>
    <ion-button expand="block" routerLink="/auth"
      >Login or Create Account</ion-button
    >
  </div>
</ion-content>
