<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="home">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trips" href="trips">
      <ion-icon aria-hidden="true" name="airplane"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="organizations" href="organizations">
      <ion-icon aria-hidden="true" name="briefcase"></ion-icon>
      <ion-label>Organizations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me" href="me">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
