@use "@scss/styles";
@use "@scss/bpts";

#page-container {
  // color: #495057;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  // padding: 4rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 6rem;
  min-height: 100vh;
  background-color: styles.$dark-blue;
  background: url("@assets/plane1.jpg") no-repeat,
    linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 33%;
  background-position-x: center;

  @include bpts.lg {
    background-color: styles.$dark-blue;
    background: url("@assets/mobile-bg.png") no-repeat,
      linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }

  @include bpts.md {
    background-color: styles.$dark-blue;
    background: url("@assets/mobile-bg.png") no-repeat,
      linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
}

main {
  border: 1px solid #054e56;
  width: 70%;
  padding: 12pt 16pt;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  color: styles.$text-color-primary;
}
