@use "@scss/styles";
@use "@scss/bpts";

#full-page {
  background-color: styles.$dark-blue;
  background: url("@assets/plane1.jpg") no-repeat,
    linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 33%;
  background-position-x: center;

  // @include bpts.lg {
  //   background-color: styles.$dark-blue;
  //   background: url("@assets/mobile-bg.png") no-repeat,
  //     linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
  //   background-size: cover;
  //   background-position-y: center;
  //   background-position-x: center;
  // }

  @include bpts.md {
    background-color: styles.$dark-blue;
    background: url("@assets/mobile-bg.png") no-repeat,
      linear-gradient(90deg, styles.$english-violet-2, styles.$english-violet);
    // transition: background-size 0.4s ease;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
  }
}

#page-container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 3rem 0 6rem 0;
  width: 100%;
  min-height: 92.5vh;
  height: auto !important;

  @include bpts.md {
    min-height: 93vh;
    justify-content: start;
  }
}

main {
  border: 1px solid #054e56;
  width: 70%;
  // min-height: auto;
  padding: 22pt 16pt;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  color: styles.$text-color-primary;

  @include bpts.md {
    width: 100%;
    padding: unset;
    // position: sticky;
    min-height: 93vh;
  }
}
