@use "@src/styles.scss";

#container {
  #head-actions {
    display: flex;
    justify-content: space-between;
  }
}

.list {
  @include styles.flex-layout;
  flex-direction: row;

  mat-card {
    min-height: 14rem;
    min-width: 12rem;
  }
}
