<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">Organizations by Roles</ion-title>
    <ion-segment value="all">
      <ion-segment-button value="all" contentId="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="owner" contentId="owner">
        <ion-label>Owner</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin" contentId="admin">
        <ion-label>admin</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment-view>
    <ion-segment-content id="all"
      ><orgs-all [orgs]="orgs" (refreshParent)="refresh($event)"
    /></ion-segment-content>
    <ion-segment-content id="owner"
      ><orgs-all [orgs]="ownedOrgs" (refreshParent)="refresh($event)"
    /></ion-segment-content>
    <ion-segment-content id="admin">admin</ion-segment-content>
  </ion-segment-view>
</ion-content>
