#opt-google {
  --background: rgba(0, 0, 0, 0.5);
  --border-color: white;
  --border-style: solid;
  --border-width: 1px;

  // background: linear-gradient(45deg, #4285f4, #db4437, #f4b400, #0f9d58);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text;
}
