html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


$text-color-primary: rgb(210, 255, 250);
$menu-hover-bg: #424b90;
$margin-from-top: 3rem;

@mixin mobile-edge {
  padding: 0 0.4rem 0 0.3rem;
}

@mixin flex-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

@mixin menu-link-btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

$dark-blue: #02040aff;
$english-violet: #12151e;
$mountbatten-pink: #7d6b7cff;
$english-violet-2: #544f6cff;
$english-violet-3: #4a4967ff;
