@use "@scss/styles";

nav {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 0.5rem 0.5rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

#links-center {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  // gap: 40px;

  .link {
    display: block;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #424b90;
    }
  }
}

#auth-links {
  display: flex;
  gap: 10px;
}

#profile-pic {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.7rem;
  cursor: pointer;
}

mat-icon {
  display: none;
}

#drawer,
#backdrop {
  display: none;
}

#profile-menu {
  position: fixed;
  right: 0;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 100;

  #profile-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    .link {
      padding: 0.5rem 6rem;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 0.5rem;

      &:hover {
        background-color: #1f1e1e;
      }
    }

    .openable {
      min-height: 3rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  #links-center,
  #auth-links,
  #profile-pic {
    display: none;
  }

  #drawer-toggle {
    display: block;
    padding: 0.5rem;
    font-size: 20pt;
    border: 1px solid white;
    border-radius: 10pt;
    cursor: pointer;
  }

  #logo {
    padding: 1rem 0;
  }

  #backdrop {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 50;
  }

  #drawer {
    padding: 2rem 0;
    position: fixed;
    top: 3.2rem;
    right: 0;
    background-color: #333;
    min-width: 16rem;
    height: 86vh;
    z-index: 100;
    @include styles.flex-layout;
    justify-content: space-between;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #drawer.open-drawer {
    transform: translateX(0);
  }

  #drawer-main-links {
    display: flex;
    flex-direction: column;

    .link {
      color: white;
      padding: 1rem 6rem;
      @include styles.menu-link-btn;

      &:hover {
        background-color: styles.$menu-hover-bg;
      }
    }
  }

  .link {
    padding: 2rem 6rem;
  }

  #drawer-auth-links {
    display: flex;
    gap: 10px;
    margin: 0 1rem;

    // #drawer-auth-exp {

    // }

    #drawer-profile-pic {
      height: 2rem;
      border-radius: 4rem;
    }
  }
}

.signup-button {
  color: styles.$text-color-primary;
}

.profile-menu-actions {
  margin-top: 1rem;
  @include styles.flex-layout;
  gap: 0.2rem;
  flex-direction: column;

  .profile-menu-btn {
    text-decoration: none;
    color: styles.$text-color-primary;
    background: none;
    cursor: pointer;
    padding: 1rem 2rem;

    &:active {
      background-color: styles.$menu-hover-bg;
    }
  }
}
