<h2>Upcoming Tours!</h2>

@if (authService.isAuthenticated && authService.userData!.role == 'admin') {
<div class="admin-actions">
  <button mat-flat-button (click)="fillWithTemplateData()">
    Fill with some Template Data
  </button>
  <button mat-flat-button routerLink="/add-tour">Add Tour</button>
  <button mat-flat-button (click)="deleteAll()">Delete all</button>
</div>
}
<div id="tour-container">
  @if(tours.length > 0) { @for (tour of tours; track $index) {
  <div class="tour-card">
    <div>
      <button mat-flat-button (click)="deleteTour(tour.id)">Delete</button>
    </div>
    <div class="img-container">
      <img src="https://placehold.co/600x400" alt="" />
    </div>
    <div class="card-content">
      <h3>{{ tour.destination }}</h3>
      <p>{{ tour.activities }}</p>
      <span class="bottom-group">
        <span>{{ tour.startDate }} - {{ tour.endDate }}</span>
        <button mat-flat-button (click)="openModal()">Details</button>
      </span>
    </div>
  </div>
  } }
</div>

@if(tourModalOpened) {
<div id="modal-container" (click)="closeModal()">
  <div click-stop-propagation click id="tour-modal"></div>
</div>
}
