.admin-actions {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

#tour-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

  .tour-card {
    width: 24rem;

    border: 1px solid rgb(8, 113, 157);
    border-radius: 1rem;
    background-color: rgba(1, 102, 135, 0.458);
    overflow: hidden;

    .img-container {
      display: flex;
      justify-content: center;
      height: 60%;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bottom-group {
      display: flex;
      justify-content: space-between;
      margin: 0 1rem;
    }
  }
}

#modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 3rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #tour-modal {
    position: fixed;
    background-color: rgb(1, 102, 135);
    border-radius: 2rem;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
